<div
  class=" mt-8 w-[1428px] flex flex-row items-start justify-end pt-0 px-[49px] pb-[29px] box-border max-w-full mq800:pl-6 mq800:pr-6 mq800:box-border">
  <div class="flex-1 flex flex-row items-center justify-between max-w-full gap-[20px] mq800:flex-wrap">
    <div class="relative">Need help? Call us: (+98) 0234 456 789</div>
    <div class="flex flex-row items-center justify-center gap-[36px] mq450:gap-[18px]">
      <div class="flex flex-row items-center justify-center gap-[20px]">
        <img class="h-6 w-6 relative min-h-[24px]" alt="" src="../assets/vuesax/linear/location.png" />

        <div class="relative inline-block min-w-[65px]">Our store</div>
      </div>
      <div class="flex flex-row items-center justify-center gap-[19px]">
        <img class="h-6 w-6 relative min-h-[24px]" alt="" src="../assets/vuesax/linear/oto.png" />

        <div class="relative inline-block min-w-[115px]">
          Track your order
        </div>
      </div>
    </div>
  </div>
</div>
<header
  class="self-stretch h-[100px] bg-a flex flex-row items-center justify-between py-[22px] px-[67.8px] box-border top-[0] z-[99] sticky max-w-full gap-[20px] text-left text-sm text-darkslategray-500 font-poppins mq800:pl-[34px] mq800:pr-[34px] mq800:box-border bg-[#003F62]">
  <div
    class="self-stretch w-[663px] flex flex-row items-center justify-center gap-[85px] max-w-full mq450:gap-[21px] mq800:gap-[42px]">
    <a href="home"><img class="h-[39px] w-[140px] relative object-contain" loading="lazy" alt=""
        src="../assets/logo1.png" /></a>
    <div
      class="self-stretch flex-1 rounded-xl bg-white flex flex-row items-center justify-start py-0 pr-0 pl-[25px] box-border relative gap-[10px] max-w-full">

      <div class="relative inline-block min-w-[127px] whitespace-nowrap">

        <input type="text" placeholder="Serach any things">
      </div>
      <button
        class=" bg-[#EDA415] cursor-pointer [border:none] py-[17.5px] px-[41px] bg-b !m-[0] absolute top-[0px] left-[306px] rounded-xl flex flex-row items-center justify-center hover:bg-darkgoldenrod">
        <div class="relative text-sm font-semibold font-poppins text-white text-left inline-block min-w-[50px]">
          <button>Search</button>
        </div>
      </button>
    </div>
  </div>
  <div class="flex flex-row items-center justify-center gap-[29px] max-w-full text-3xs-5 text-white">
    <div class="flex flex-row items-center justify-center gap-[12px] text-sm">
      <img class="h-6 w-6 relative min-h-[24px]" alt="" src="../assets/vuesax/linear/user.png" />

      <div class="relative inline-block min-w-[47px] whitespace-nowrap">
        <a href="/register">Register</a>
      </div>
    </div>
    <div class="flex flex-row items-center justify-center gap-[12px]">
      <div class="flex flex-row items-center justify-center gap-[3px]">
        <img class="h-6 w-6 relative " alt="" src="../assets/vuesax/linear/heart.png" />

        <div class="rounded-[394.74px] bg-b flex flex-col items-center justify-center py-[0.5px] px-[4.1px]">
          <div class="relative inline-block min-w-[6px] bg-[#EDA415] w-[20px] text-center rounded-full">0
          </div>
        </div>
      </div>
      <div class="relative text-sm inline-block min-w-[47px] whitespace-nowrap">
        <a href="login">log in</a>
      </div>
    </div>
    <div class="flex flex-row items-center justify-center gap-[12px]">
      <div class="flex flex-row items-center justify-center gap-[3px]">
        <img class="h-6 w-6 relative" alt="" src="../assets/vuesax/linear/shopping-cart.png" />

        <div class="rounded-[394.74px] bg-b flex flex-col items-center justify-center py-[0.5px] px-[4.1px]">
          <div class="relative inline-block min-w-[6px] bg-[#EDA415] w-[20px] text-center rounded-full">0
          </div>
        </div>
      </div>
      <div class="relative text-sm inline-block min-w-[31px]"><a href="cart">Cart</a></div>
    </div>
  </div>
</header>
<div
  class="bg-[#F4F4F4] self-stretch bg-whitesmoke-100 flex flex-row flex-wrap items-center justify-center py-[0.5px] px-[63px] box-border gap-[98px] max-w-full z-[3] mq450:gap-[24px] mq800:gap-[49px] mq800:pl-[31px] mq800:pr-[31px] mq800:box-border">
  <div
    class="bg-b bg-[#EDA415] flex flex-row items-center justify-center py-[23px] px-[14.5px] gap-[16px] whitespace-nowrap">
    <div class="relative font-medium text-white">Browse categories</div>
    <img class="h-6 w-6 relative min-h-[24px]" alt="" src="../assets/vuesax/linear/arrow-down.png" />
  </div>
  <div
    class="flex-1 flex flex-row items-center justify-between py-5 px-0 box-border min-w-[649px] max-w-full gap-[20px] text-darkslategray-300 mq800:flex-wrap mq1150:min-w-full">
    <div class="flex flex-row items-center justify-center gap-[29px] max-w-full mq800:flex-wrap ">
      <div class="flex flex-row items-center justify-center gap-[16px]">
        <div class=" text-black relative font-medium inline-block min-w-[48px]">
          <a href="home">Home</a>
        </div>
        <img class="h-6 w-6 relative min-h-[24px]" alt="" src="../assets/vuesax/linear/arrow-down1.png" />
      </div>
      <div class="flex flex-row items-center justify-center gap-[16px]">
        <div class="text-black relative font-medium inline-block min-w-[66px]">
          <a href="#">Catalog</a>
        </div>
        <img class="h-6 w-6 relative min-h-[24px]" alt="" src="../assets/vuesax/linear/arrow-down1.png" />
      </div>
      <div class="flex flex-row items-center justify-center">
        <div class=" text-black relative font-medium inline-block min-w-[36px]">
          <a href="#">Blog</a>
        </div>
      </div>
      <div class="flex flex-row items-center justify-center gap-[16px]">
        <div class="text-black relative font-medium inline-block min-w-[50px]">
          <a href="#">Pages</a>
        </div>
        <img class="h-6 w-6 relative min-h-[24px]" alt="" src="../assets/vuesax/linear/arrow-down1.png" />
      </div>
      <div class="flex flex-row items-center justify-center">
        <div class="text-black relative font-medium inline-block min-w-[72px]">
          <a href="#">About us</a>
        </div>
      </div>
    </div>
    <a class="relative text-a font-bold text-[#003F62]">30 Days Free Return</a>
  </div>
</div>