<form [formGroup]="loginform" class="flex flex-col max-w-md mx-auto p-4 bg-white shadow-md rounded-md space-y-4"
    (ngSubmit)="onSubmit()">
    <div class="flex flex-col">
        <input type="text" placeholder="Email" formControlName="email"
            class="p-2 border border-gray-300 rounded focus:outline-none focus:border-blue-500" />
        <span
            *ngIf="!loginform.controls.email.valid && (loginform.controls.email.dirty || loginform.controls.email.touched)"
            class="text-red-500 text-sm mt-1">
            Sai định dạng email
        </span>
    </div>
    <div class="flex flex-col">
        <input type="password" placeholder="Password" formControlName="password"
            class="p-2 border border-gray-300 rounded focus:outline-none focus:border-blue-500" />
        <span
            *ngIf="!loginform.controls.password.valid && (loginform.controls.password.dirty || loginform.controls.password.touched)"
            class="text-red-500 text-sm mt-1">
            Mật khẩu không nhỏ hơn 6 kí tự
        </span>
    </div>
    <button type="submit" [disabled]="!loginform.valid" class="p-2 bg-blue-500 text-white rounded disabled:bg-gray-400">
        Đăng nhập
    </button>
</form>