<p-toast />
<p-confirmDialog />
<h3 class="text-xl font-semibold mt-8">Danh sách sản phẩm</h3>
<table class="min-w-full bg-white shadow-md rounded my-6">
    <thead>
        <tr>
            <th class="py-2 px-4 border-b">STT</th>
            <th class="py-2 px-4 border-b">Ảnh</th>
            <th class="py-2 px-4 border-b">Tên sản phẩm</th>
            <th class="py-2 px-4 border-b">Danh mục</th>
            <th class="py-2 px-4 border-b">Giá tiền</th>
            <th class="py-2 px-4 border-b">Thao tác</th>
        </tr>
    </thead>
    <tbody>
        <!-- Sử dụng vòng lặp để hiển thị sản phẩm -->
        <tr *ngFor="let product of products; let i = index">
            <td class="py-2 px-4 border-b text-center">{{i + 1}}</td>
            <td class="py-2 px-4 border-b "><img src="{{product.image}}" alt="Ảnh sản phẩm"
                    class="h-16 w-16 object-cover "></td>
            <td class="py-2 px-4 border-b text-center">{{product.name}}</td>
            <td class="py-2 px-4 border-b text-center">{{product.cat_id}}</td>
            <td class="py-2 px-4 border-b text-center">{{product.price}}</td>
            <td class="py-2 px-4 border-b text-center">
                <a href="admin/edit-product/{{product.id}}" class="text-blue-500 hover:underline ">Sửa</a>
                <button (click)="onDelete(product.id,$event)" class="text-red-500 hover:underline ml-2 ">Xóa</button>
            </td>
        </tr>
    </tbody>
</table>